<li>
    <h2>
	<a href="{{project.url}}" title="{{project.name}}">{{project.name}}</a>
    </h2>

    <p class="project-meta">
	{{project.date | date_to_string}}&nbsp;|&nbsp;
	<a href="{{project.link}}" class="project-url">
	    {{project.link}}
	</a>
        {% if project.status %}
        &nbsp;|&nbsp;<em>Status:</em> {{project.status | capitalize}}
        {% endif %}
        {% if project.updating_date %}
        &nbsp;|&nbsp;<em>Updated:</em> {{project.updating_date | date_to_string}}
        {% endif %}
    </p>

    <p>{{project.short}}</p>

    <p class="read-more"><a href="{{project.url}}" title="Read more">Read more &#9658;</a></p>
</li>
